body {
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.gameboy {
  background-color: #6d2aa6;
  width: 300px;
  height: 500px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.screen-border {
  background-color: #222;
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  box-sizing: border-box;
  margin-bottom: 20px;
  height: 260px;
  justify-content: center;
}

.screen {
  background-color: #9fc;
  width: 100%;
  height: 180px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  overflow: visible; 
  margin-top: 10px;
  box-sizing: border-box;
}


#logo{
  width: 100%;
  text-align: center;
  color: whitesmoke;
  padding-top: 40px;
}

#logo-C{
  color: red;
}

#logo-O1{
  color: gray;
}

#logo-L{
  color: greenyellow;
}

#logo-O2{
  color: yellow;
}
#logo-R{
  color: blue;
}



.controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}




.top-buttons{
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 30px;
  align-items: center;
}




.dpad {
  display: grid;
  grid-template-columns: repeat(3, 25px);
  grid-template-rows: repeat(3, 25px);
  gap: 1px;
  margin-bottom: 20px;
}

.dpad-button {
  background-color: #222;
  border-radius: 4px;
}

.dpad-button.center {
  background-color: #444;
}







.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.button {
  background-color: #222;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}



.start-select {
  display: flex;
  gap: 20px;
}

.start, .select {
  background-color: #222;
  width: 30px;
  height: 10px;
  border-radius: 5px;
}

.pokemon{
  color: red;
}